@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@1000&family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #8f5127;
}

.wrapper {
    width: 770px;
    background: #fcf1d3;
    padding: 20px;
    border-radius: 20px;
}

.wrapper .content-box {
    padding: 15px 20px 0;

}

.content-box .typing-text {
    max-height: 255px;
    overflow-y: auto;
}

.typing-text::-webkit-scrollbar {
    width: 0;
}

.typing-text {
    font-size: 21px;
    letter-spacing: 1px;
    text-align: justify;
    
}

.content-box .content {
    display: flex;
    margin-top: 17px;
    border-top: 1px solid #ccc;
    padding: 12px 0;
    justify-content: space-between;
    align-items: center;
}

.content .result-detail {
    display: flex;
    width: calc(100% - 140px);
    justify-content: space-between;
}

.result-detail li {
    height: 22px;
    display: flex;
    list-style: none;
    align-items: center;
}
.result-detail li:not(:first-child)
{
    padding-left: 22px;
    border-left: 1px solid #ccc;
}
.result-detail li p {
    font-size: 19px;
}

.result-detail li span {
    display: block;
    list-style: none;
    font-size: 20px;
    margin-left: 10px;
}

.result-detail li b{
    font-weight: 700;
}

.content button {
    border-radius: 10px;
    border:none;
    outline:none;
    width:105px;
    background:#8f5127;
    height:35px;
    font-size: 15px;
    color:#fcf1d3;
    font-weight: 1000;
    transition: transform 0.3s ease;
}
.content button:active {
    transform: scale(0.95);
}


.content button:hover {
    cursor: pointer;
    background:#966748;
}