@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@1000&family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    color: #ffffff;   
    background: rgb(0, 0, 0);
    cursor: url('images/whiterabbitcursor.gif'),auto;
}

.wrapper {
    width: 1000px;
    background: #777777;
    padding: 20px;
    border-radius: 20px;
}

.wrapper .input-field{
    z-index:-999;
    opacity: 0;
    position: absolute;
}
.wrapper .content-box {
    padding: 15px 20px 0;
    display: flex;

}

.content-box .typing-text {
    display: flex;
    border-right: 1px solid #ccc;
    max-height: 255px;
    padding-right:10px;
    overflow-y: auto;
}

.typing-text::-webkit-scrollbar {
    width: 0;
}

.typing-text {
    color: #ffffff;   
    font-size: 21px;
    letter-spacing: 1px;
    text-align: justify;
}

.typing-text p span.incorrect{
    color:red;
    background-color: rgb(236, 205, 194);
    border-radius: 3px;
}
.typing-text p span.active {
    color: #cacaca;   
    position: relative; 
}
.typing-text p span.active::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    height:2px;
    width: 100%;
    background: #000000;
    animation: blink 4s ease-in-out infinite;
}

@keyframes blink
{
    50%{
        opacity: 1;
    }
}

.content-box .content {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 17px;
    margin-left: 10px;
    min-width:250px;
    align-items: center;
}

.content .result-detail {
    justify-content: space-between;
}

.result-detail li {
    height: 22px;
    display: flex;
    list-style: none;
    align-items: center;
    left:-10px;
    position: relative;
}

.result-detail li p {
    font-size: 19px;
}

.result-detail li span {
    display: block;
    list-style: none;
    font-size: 20px;
    margin-left: 10px;
}

.result-detail li b{
    font-weight: 700;
}

.content button {
    border-radius: 10px;
    border:none;
    outline:none;
    width:105px;
    background:#000000;
    height:35px;
    font-size: 15px;
    color:#ffffff;
    font-weight: 1000;
    transition: transform 0.3s ease;
}
.content button:active {
    transform: scale(0.95);
}


.content button:hover {
    cursor: pointer;
    background:#966748;
}